<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Artemis.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Artemis.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Artemis.GUI.Properties.Settings>
            <setting name="WhitePlayerType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlackPlayerType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConstantDepth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Depth" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="TimeLimit" serializeAs="String">
                <value>4500</value>
            </setting>
            <setting name="Multithreading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BottomColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseOpeningBook" serializeAs="String">
                <value>True</value>
            </setting>
        </Artemis.GUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Artemis.GUI.Properties.Settings>
            <setting name="NullMoveDepthReduction" serializeAs="String">
                <value>2</value>
            </setting>
        </Artemis.GUI.Properties.Settings>
    </applicationSettings>
</configuration>